Web/Connected Services/BookingServiceReference/BookingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49197/BookingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49197/BookingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49197/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingService_CreateSupportTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportTask" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateSupportTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateSupportBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateSupportBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateReadyToGo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReadyToGo" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateReadyToGo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReadyToGoResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetSupportBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetSupportBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetAllSupportTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupportTask" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetAllSupportTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupportTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetAllSupportBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupportBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetAllSupportBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupportBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetAllReadyToGo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReadyToGo" />
  </wsdl:message>
  <wsdl:message name="IBookingService_GetAllReadyToGo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReadyToGoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingService">
    <wsdl:operation name="CreateSupportTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CreateSupportTask" message="tns:IBookingService_CreateSupportTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CreateSupportTaskResponse" message="tns:IBookingService_CreateSupportTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSupportBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CreateSupportBooking" message="tns:IBookingService_CreateSupportBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CreateSupportBookingResponse" message="tns:IBookingService_CreateSupportBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReadyToGo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CreateReadyToGo" message="tns:IBookingService_CreateReadyToGo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CreateReadyToGoResponse" message="tns:IBookingService_CreateReadyToGo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetSupportBooking" message="tns:IBookingService_GetSupportBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetSupportBookingResponse" message="tns:IBookingService_GetSupportBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSupportTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetAllSupportTask" message="tns:IBookingService_GetAllSupportTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetAllSupportTaskResponse" message="tns:IBookingService_GetAllSupportTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSupportBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetAllSupportBooking" message="tns:IBookingService_GetAllSupportBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetAllSupportBookingResponse" message="tns:IBookingService_GetAllSupportBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReadyToGo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/GetAllReadyToGo" message="tns:IBookingService_GetAllReadyToGo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/GetAllReadyToGoResponse" message="tns:IBookingService_GetAllReadyToGo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookingService" type="tns:IBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSupportTask">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CreateSupportTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupportBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CreateSupportBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReadyToGo">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CreateReadyToGo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetSupportBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSupportTask">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetAllSupportTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSupportBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetAllSupportBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReadyToGo">
      <soap:operation soapAction="http://tempuri.org/IBookingService/GetAllReadyToGo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port name="BasicHttpBinding_IBookingService" binding="tns:BasicHttpBinding_IBookingService">
      <soap:address location="http://localhost:49197/BookingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>