Web/Connected Services/BookingServiceReference/BookingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49197/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" />
  <xs:element name="CreateSupportTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="supportTask" nillable="true" type="q1:SupportTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupportTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupportBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="supportBooking" nillable="true" type="q2:SupportBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupportBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReadyToGo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="readyToGo" nillable="true" type="q3:ReadyToGo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReadyToGoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetSupportBookingResult" nillable="true" type="q4:SupportBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadyToGo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadyToGoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetReadyToGoResult" nillable="true" type="q5:ReadyToGo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetSupportTaskResult" nillable="true" type="q6:SupportTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetBookingResult" nillable="true" type="q7:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupportTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupportTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetAllSupportTaskResult" nillable="true" type="q8:ArrayOfSupportTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupportBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupportBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetAllSupportBookingResult" nillable="true" type="q9:ArrayOfSupportBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadyToGo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadyToGoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetAllReadyToGoResult" nillable="true" type="q10:ArrayOfReadyToGo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBookingSpecificDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBookingSpecificDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" minOccurs="0" name="GetAllBookingSpecificDayResult" nillable="true" type="q11:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAvaliableCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAvaliableCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindAvaliableCalendarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>