Web/Connected Services/BookingServiceReference/BookingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SupportTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Booking">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupportTask" nillable="true" type="tns:SupportTask" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calendar_Id" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="SupportBooking">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Booking">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupportBooking" nillable="true" type="tns:SupportBooking" />
  <xs:complexType name="ReadyToGo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Booking">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditionalServices" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppendixNr" type="xs:int" />
          <xs:element minOccurs="0" name="Contract" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductNr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadyToGo" nillable="true" type="tns:ReadyToGo" />
  <xs:complexType name="ArrayOfSupportTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportTask" nillable="true" type="tns:SupportTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportTask" nillable="true" type="tns:ArrayOfSupportTask" />
  <xs:complexType name="ArrayOfSupportBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportBooking" nillable="true" type="tns:SupportBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportBooking" nillable="true" type="tns:ArrayOfSupportBooking" />
  <xs:complexType name="ArrayOfReadyToGo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadyToGo" nillable="true" type="tns:ReadyToGo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadyToGo" nillable="true" type="tns:ArrayOfReadyToGo" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
</xs:schema>